body {
    background-color: hsla(228, 6%, 66%, 0.05);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: hsl(234, 12%, 34%);
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2.25rem;
    font-weight: 200;
}

h2 {
    font-weight: 600;
    margin-bottom: 0;
}

p {
    color: hsl(229, 6%, 66%);
}

img {
    align-self: flex-end;
}

.intro {
    width: 500px;
    margin: auto;
    text-align: center;
}

.feature-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.feature-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    margin: 20px;
    border-top: 5px solid hsl(180, 62%, 55%);
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(216, 226, 236, 0.7);
    padding: 0 30px 30px 30px;
}

.supervisor {
    border-top: 5px solid hsl(180, 62%, 55%);
}

.team {
    border-top: 5px solid hsl(0, 78%, 62%);
    margin: 0 0 20px 0;
}

.karma {
    border-top: 5px solid hsl(34, 97%, 64%);
    margin: 20px 0 0 0;
}

.calculator {
    border-top: 5px solid hsl(212, 86%, 64%);
}

footer {
    margin: 50px auto;
    text-align: center;
}


@media only screen and (min-width: 1000px) {
    .feature-box {
        flex-direction: row;
    }
}

@media only screen and (max-width: 500px) {
    .intro {
        width: 80%
    }

    h1 {
        font-size: 1.25rem;
    }
}